# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=16417a3c-76ee-4b63-9000-2a15533dd4c8

    # Set to true to disable all reporting
    B:opt-out=false
}


